   
   
   
/* Body Styling */
h1 {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 24px;
}

h2 {
font-family: 'Chivo', sans-serif;
  font-size: 16px;
  
}

a:link {
color: #7aa25c;
text-decoration: underline;
}


body{
background-color: #F9F6EF
}

.lead {
font-family: Georgia, 'Times New Roman', serif;
font-size: 14px;
}


p {
font-family: Georgia, 'Times New Roman', serif;
font-size: 12px;
}


td {
font-family: Georgia, 'Times New Roman', serif;
font-size: 12px;
}

li {
font-family: Georgia, 'Times New Roman', serif;
font-size: 14px;
}

ul{
font-family: Georgia, 'Times New Roman', serif;
font-size: 14px;
}

.navbar-inverse {
background-color: #34576d;
border-color: #666666
}

#sliderContainer {
  text-align: left;
  position: relative;
  top: 600px;
}


img.center {
display: block;
margin-left: auto;
margin-right: auto;
}

img{
max-width: 100%;
max-height: 100%;
object-fit: cover;
}

.bg-primary {
background-color: #7aa25c!important;
}

svg {
vertical-align: middle;
}


/* State Styling */
.states :hover {
  fill: #FF0000;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}



.container {
  max-width: 900px;
  margin: auto;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 1200px;
  height: 600px;
  clear: both;
  margin: 0 auto;
}

#toolbar {
  margin-top: 10px;
}

/* Bubble Chart */
.green-dot {
  height: 15px;
  width: 15px;
  background-color: #7aa25c;
  border-radius: 50%;
  display: inline-block;
}

.grey-dot {
  height: 15px;
  width: 15px;
  background-color: #beccae;
  border-radius: 50%;
  display: inline-block;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}
